

body {
    background-color: #141313;
}


    h1 {
        color: Purple;
        font-family: "Calibri";
    }

    p {
        color: Purple;
        font-family: "Calibri";
    }


    .grid-container {
        display: grid;
        grid-template-columns: 400px 400px 400px;
        grid-template-rows: 300px 300px 300px
    }

  .item img {
    width: 90%;   /* try 80%, 70%, etc */
    height: auto;
    display: block;
    margin: 0 auto; /* centers it */
}



